// main: ../index.scss

.nop {
  padding: 0 !important;
}

.nom {
  margin: 0 !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 12px;

  &-small {
    @extend .container;
    max-width: 320px;
  }
  &-middle-small {
    @extend .container;
    max-width: 500px;
  }
  &-middle {
    @extend .container;
    max-width: 680px;
  }
  &-middle-big {
    @extend .container;
    max-width: 860px;
  }
  &-big {
    @extend .container;
    max-width: 1600px;
  }
  &-fullWidth {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.fullScreenSection {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: $bg-gradient no-repeat scroll center center/cover;
}

.fullWidth {
  width: 100%;
}
.halfWidth {
  width: 50%;
}
.halfHeight {
  height: 50vh;
}
.fullHeight {
  min-height: 100vh;
  &-gradiant {
    @extend .fullHeight;
    background: $bg-gradient no-repeat scroll center center/cover;
  }
}

.outer-container {
  padding-top: 50px;
}
