// main: ../index.scss

.btn {
  width: 100px;
  height: 100px;
  font-size: 12pt;
  background-color: #eb3b5a;
  &:hover {
    color: white;
    cursor: pointer;
  }

  &.fixed {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  &.rounded {
    @extend .shadow;
    border-radius: 50px;
  }
}
