// main: ../index.scss
.card {
  @extend .shadow;
  background-color: white;
  padding-bottom: 30px;
  border-radius: 10px;
  position: relative;
  &-dark {
    @extend .card;
    background-color: $secondary;
  }
  &.margin {
    margin-top: 20px;
  }
  &.padding {
    padding: 15px;
  }
  &-log {
    @extend .card;
    height: 100vh;
    position: fixed;
    top: 100vh;
    margin-top: 40px;
    z-index: 100;
  }
  &-top {
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &.bottom-left {
    width: 100%;
    position: relative;
    margin: 10px;
    @include respond-to($medium-large) {
      position: absolute;
      margin: 0px !important;
      width: 48.7%;
      left: 10px;
      bottom: 10px;
    }
  }
}
