// main: ../index.scss

.signin {
  .shadow-left {

  }
  form {
    min-width: 350px;
    input {

    }
  }
}
input {
  padding: 8px 12px;
  border-left: 3px solid $secondary-dark;
  background-color: $secondary-light;
  &.fullWidth {
    width: 100%;
  }
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}



.add-multiple-points {
}
form {
  padding: 16px;
  background-color: $secondary;
  fieldset {
    width: 100%;
    max-width: 300px;
    text-align: center;
  }
  input, textarea {
    @include transition();
    resize: none;
    width: 100%;
    padding: 8px 12px;
    border-left: 3px solid $secondary-dark;
    background-color: $secondary-light;
    color: white;

    &:focus {
      border-color: $accent;
      background-color: $secondary-dark;
    }
  }
  label {
    width: 100%;
    display: inline-block;
    padding: 8px 0 4px 0;
    color: white;
  }
}

textarea {
  height: 100px;
}
