// main: ../index.scss

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24pt;
  color: white;
  padding: 0;
  box-sizing: border-box;
  transition: 200ms;
  &.padding {
    padding: 5px;
  }
  @include respond-to($small) {
    font-size: 31pt;
    transition: 400ms;
  }
}

h2 {
  color: $accent;
  transition: 300ms;
  font-size: 24pt;
  &.padding {
    padding: 10px;
  }
  @include respond-to($small) {
    font-size: 48pt;
  }
}

h3 {
  font-size: 24pt;
  &.padding {
    padding: 10px;
  }
}

h4 {

}

h5 {

}

h6 {

}

p {
  font-size: 12pt;
  &.center {
    width: 100%;
    text-align: center;
  }
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

li {
  font-size: 12pt;
}

// text transformations
.regular {
  font-weight: 400 !important;
}
.bold {
  font-weight: 700 !important;
}
.uppercase {
  text-transform: uppercase;
}

// align classes
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
