// main: ../index.scss

$bg-gradient: linear-gradient(60deg, #17b9e6 0%, #17e67e 100%);
$accent: #3867d6;

$secondary: #333;
$secondary-dark: #111;
$secondary-light: #444;

$secondary-opacity: rgba(51, 51, 51, 0.7);

$success: rgb(60, 143, 43);
$error: rgb(159, 38, 38);
