@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/border";
@import "singleStyles/scrollable";

@import "components/nav";
@import "components/message";
@import "components/btn";
@import "components/form";
@import "components/card";
@import "components/cloud";
@import "components/tag";

@import "animations/index";
@import "animations/keyframes";


.admin-list-item {
  width: 100%;
}

.fixed-left-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.margin-bottom-350 {
  margin-bottom: 0px;
  @include respond-to($medium-large) {
    margin-bottom: 350px;
  }
}
