@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";

@import "components/btn";
@import "components/form";
@import "components/card";

@import "animations/index";
@import "animations/keyframes";




/* Header bar */

div {
  &.bar {
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: $dark-grey;
    position: fixed;
    z-index: 99;
  }
}
