@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/border";
@import "singleStyles/scrollable";

@import "components/btn";
@import "components/form";
@import "components/card";
@import "components/cloud";
@import "components/tag";

@import "animations/index";
@import "animations/keyframes";




/* Header bar */

nav {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: $secondary;
  position: fixed;
  z-index: 99;

  &.hidden {
    display: none;
  }

  a {
    display: inline-block;
    margin: 0 12px;

  }
}



.messageContainer {
  position: fixed;
  top: 50px;
  z-index: 101;
  height: 80px;
  background-color: $secondary;
  width: 100%;
  color: white;
  padding: 0 16px;

  &.error {
    background-color: rgb(159, 38, 38);
  }
  &.success {
    background-color: rgb(60, 143, 43);
  }
}

.admin-list-item {
  width: 100%;
}

.fixed-left-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.margin-bottom-350 {
  margin-bottom: 0px;
  @include respond-to($medium-large) {
    margin-bottom: 350px;
  }
}
